@model IEnumerable<AppointmentMaker.Models.AppointmentModel>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PatientName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PatientStreet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PatientCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PatientZIP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PatientEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PatientPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppointmentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PatientNetWorth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoctorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PainLevel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) { <!-- For each item in our list of appoiontments (Model) -->
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PatientName)
            </td>
            <th>
                @Html.DisplayFor(modelItem => item.PatientStreet)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.PatientCity)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.PatientZIP)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.PatientEmail)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.PatientPhone)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.AppointmentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PatientNetWorth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoctorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PainLevel)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
